<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoAlbum"
        tools:targetApi="31">
        <activity
            android:name=".photo12"
            android:exported="false" />
        <activity
            android:name=".photo11"
            android:exported="false" />
        <activity
            android:name=".photo10"
            android:exported="false" />
        <activity
            android:name=".photo9"
            android:exported="false" />
        <activity
            android:name=".photo8"
            android:exported="false" />
        <activity
            android:name=".photo7"
            android:exported="false" />
        <activity
            android:name=".photo6"
            android:exported="false" />
        <activity
            android:name=".photo5"
            android:exported="false" />
        <activity
            android:name=".photo4"
            android:exported="false" />
        <activity
            android:name=".photo3"
            android:exported="false" />
        <activity
            android:name=".photo2"
            android:exported="false" />
        <activity
            android:name=".photo1Activity"
            android:exported="false" />
        <activity
            android:name=".photo2Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>